@use "../../styles/variables";
@use "../../styles/mixins";

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  @include mixins.flex-space-between;
  padding: 16px 80px;
}

.nav__links {
  list-style-type: none;
  @include mixins.flex-row;
  gap: 40px;

  li {
    cursor: pointer;
    font-size: 14px;
    color: rgba(167, 190, 212, 1);
  }
}

.btn__container {
  @include mixins.flex-row;
  gap: 12px;
}

.btn-nav {
  background: rgba(150, 225, 255, 1);
  backdrop-filter: blur(60px);
  padding: 15.5px 24px;
  width: fit-content;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);

  &:last-of-type {
    background: linear-gradient(91.4deg, #407bff -11.96%, #003194 115.27%);
    color: rgba(255, 255, 255, 1);
  }
}

.logo {
  font-size: 24px;
  font-weight: 400;
  font-family: "Emblema One", system-ui;
  font-style: normal;
  color: variables.$white;
}

.nav__hamburger {
  display: none;
  cursor: pointer;

  span {
    height: 2px;
    width: 19px;
    border-radius: 2px;
    background-color: variables.$white;
    transition: transform 0.3s ease-in-out;

    &:last-of-type {
      width: 9.5px;
    }
  }
}

.nav__hamburger.open {
  span {
    &:first-of-type {
      transform: rotate(45deg);
      position: relative;
      top: 2px;
    }

    &:nth-of-type(2) {
      transform: rotate(135deg);
      position: relative;
      top: -4px;
    }

    &:last-of-type {
      display: none;
    }
  }
}

@media screen and (max-width: 990px) {
  .navbar {
    padding: 16px 40px;
  }

  .nav__links {
    display: none;
  }

  .btn-nav {
    // padding: 15.5px 16px;
    // font-size: 12px;
    display: none;
  }

  .nav__hamburger {
    @include mixins.flex-column;
    align-items: flex-end;
    gap: 4px;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 21px 20px;
  }
}
