@use "../../styles/variables";
@use "../../styles/mixins";

.hero {
  position: relative;
  width: 100%;
  min-height: calc(100vh + 120px);
  background-image: url("../../assets/hero__img.png");
  background-size: cover;
  background-position-x: 60%;
  background-position-y: center;
  background-repeat: no-repeat;
  @include mixins.flex-column;
  justify-content: flex-start;
  @include mixins.padding;
  padding-bottom: 140px;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      256.87deg,
      rgba(0, 0, 0, 0) 43.18%,
      rgba(0, 0, 0, 0.6) 61.95%
    ),
    linear-gradient(
      175.29deg,
      rgba(0, 0, 0, 0) 38.35%,
      rgba(2, 11, 26, 0.6) 55.51%
    );
  pointer-events: none;
  z-index: 0;
}

.hero__content {
  z-index: 1;
  @include mixins.flex-column;
  margin-top: 210px;
  margin-bottom: 100px;
  gap: 60px;
  width: 100%;

  .btn {
    position: relative;
    background: linear-gradient(91.4deg, #407bff -11.96%, #003194 115.27%);

    // &::before {
    //   content: "";
    //   position: absolute;
    //   inset: -15px;
    //   transform: translate3d(0px, 10px, -1px);
    //   z-index: -1;
    //   filter: blur(70px);
    //   background: linear-gradient(90deg, #5747ff 0%, #993ffc 100%);
    // }
  }
}

.hero__sub-heading {
  @include mixins.cambon;
  color: rgba(150, 225, 255, 1);
  font-size: var(--cambon-font);
  font-size: 24px;
  line-height: var(--cambon-height);
  letter-spacing: var(--cambon-spacing);
}

.hero__description {
  @include mixins.flex-column;
  gap: 28px;
  width: fit-content;

  h1 {
    // @include mixins.outfit;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: -2%;
    font-size: 88px;

    @media screen and (max-width: 1250px) {
      font-size: 80px;
      line-height: 70px;
    }

    @media screen and (max-width: 990px) {
      font-size: 64px;
      line-height: 60px;
    }

    @media screen and (max-width: 650px) {
      font-size: 64px;
      line-height: 60px;
    }

    @media screen and (max-width: 405px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  p {
    font-size: 20px;
    line-height: 28px;
    color: rgba(215, 227, 239, 1);
    width: 100%;
    font-weight: 300;
  }

  // span {
  //   background-image: linear-gradient(
  //     176.64deg,
  //     #aba2ff 49.78%,
  //     #02d7f2 124.47%
  //   );
  //   color: transparent;
  //   background-clip: text;
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }
}

@media screen and (max-width: 990px) {
  .hero {
    padding: 0 5%;
    padding-bottom: 90px;
  }

  .hero__description {
    p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 650px) {
  .hero {
    background-position-x: 60%;
    padding: 0 20px;
    padding-bottom: 60px;
    justify-content: flex-start;
    align-items: center;
  }

  .overlay {
    background: linear-gradient(
        256.87deg,
        rgba(0, 0, 0, 0) 43.18%,
        rgba(0, 0, 0, 0.6) 61.95%
      ),
      linear-gradient(
        175.29deg,
        rgba(0, 0, 0, 0) 38.35%,
        rgba(2, 11, 26, 0.6) 55.51%
      );
  }

  .hero__content {
    margin-top: 150px;
    align-items: flex-start;
    gap: 32px;

    .btn {
      justify-content: flex-start;
      padding-left: 32px;

      &::before {
        inset: -5px;
        transform: translate3d(0px, 10px, -1px);
        z-index: -1;
        filter: blur(90px);
      }
    }
  }

  .hero__description {
    gap: 20px;

    h1 {
      text-align: left;
    }

    p {
      width: 100%;
      text-align: left;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -2%;
    }
  }

  .hero__sub-heading {
    font-size: 18px;
    line-height: 100%;
  }
}
