@use "/src/styles/variables";
@use "/src/styles/mixins";

.roadmap {
  background: rgba(1, 6, 12, 1);
  padding: 150px 250px;
  @include mixins.flex-center;
  flex-direction: column;
  gap: 64px;
}

.roadmap-header {
  @include mixins.flex-center;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  width: 45%;

  h3 {
    @include mixins.h3;
    @include mixins.outfit;
    color: variables.$white;
  }

  p {
    @include mixins.cambon;
    @include mixins.cambon-p;
    color: variables.$italic-text;
  }
}

.roadmap-item__wrapper {
  @include mixins.flex-center;
  flex-direction: column;
  gap: 72px;
  position: relative;

  // &::before {
  //   content: "";
  //   width: 1px;
  //   height: 88%;
  //   background-color: rgba(46, 46, 46, 1);
  //   position: absolute;
  //   left: 50%;
  //   top: 6%;
  //   transform: translateX(-50%);
  //   z-index: 0;
  // }
}

.roadmap-item {
  @include mixins.flex-center;
  flex-direction: row;
  gap: 43px;
  width: 100%;
  z-index: 1;

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
}

.roadmap-image {
  width: 440px;
  height: 50%;

  svg {
    width: 100%;
    height: 100%;
  }
}

.roadmap-number {
  @include mixins.flex-center;
  width: 48px;
  aspect-ratio: 1/1;
  background: linear-gradient(
    135deg,
    #53b9f3 13.56%,
    #187db7 49.44%,
    #024266 85.33%
  );
  color: variables.$white;
  font-size: 28px;
  font-weight: 400px;
  border-radius: 50%;
  line-height: 100%;
  letter-spacing: 0%;
}

.roadmap-item__content {
  @include mixins.flex-center;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 440px;

  h4 {
    @include mixins.cambon;
    font-weight: 400;
    color: rgba(192, 237, 255, 1);
    @include mixins.cambon-p;
    color: variables.$white;
  }

  p {
    @include mixins.p2;
    color: rgba(203, 217, 230, 1);
  }
}

@media screen and (max-width: 1515px) {
  .roadmap {
    padding: 80px 18px;
  }

  .roadmap-header {
    width: 45%;
  }
}

@media screen and (max-width: 1150px) {
  .roadmap {
    padding: 80px 5%;
  }

  .roadmap-image {
    width: 50%;
  }

  .roadmap-item__content {
    width: 50%;
  }
}

@media screen and (max-width: 1110px) {
  .roadmap-header {
    width: 50%;
  }
}

@media screen and (max-width: 990px) {
  .roadmap {
    padding: 80px 5%;
  }

  .roadmap-header {
    width: 75%;
  }

  .roadmap-item__wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 750px) {
  .roadmap {
    padding: 80px 18px;
  }

  .roadmap-header {
    width: 90%;

    p {
      @include mixins.media-breakpoint-p;
    }
  }

  .roadmap-number {
    font-size: 16px;
  }

  .roadmap-item__wrapper {
    gap: 72px;
    width: 85%;

    &::before {
      display: none;
    }
  }

  .roadmap-item {
    flex-direction: column;
    gap: 20px;
    width: 100%;

    &:nth-of-type(2n) {
      flex-direction: column;
    }
  }

  .roadmap-image {
    margin-top: 4px;
    width: 100%;
    height: 100%;
  }

  .roadmap-number {
    order: 0;
  }

  .roadmap-item__content {
    gap: 8px;
    align-items: center;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .roadmap-item__wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .roadmap-item__wrapper {
    width: 100%;
  }
}
