@use "/src/styles/variables";
@use "/src/styles/mixins";

.section-three {
  background: rgba(1, 6, 12, 1);
  padding: 150px 200px;
  @include mixins.flex-center;
  flex-direction: column;
  gap: 64px;
}

.section-three__header {
  text-align: center;
  @include mixins.flex-center;
  flex-direction: column;
  gap: 24px;

  h3 {
    font-weight: 500;
    font-size: 70px;
    line-height: 68px;
    letter-spacing: -4%;
    color: variables.$white;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -3%;
    color: rgba(167, 190, 212, 1);
  }
}

.section-three__content {
  display: flex;
  gap: 80px;
  width: 100%;

  aside {
    width: 50%;
  }
}

.events__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.25rem, 1fr));
  gap: 20px;
}

.event__container {
  border: 1px solid rgba(46, 46, 46, 0.8);
  border-radius: 8px;
  padding: 24px;
  @include mixins.flex-center;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.event__content {
  @include mixins.flex-column;
  gap: 8px;

  p {
    color: rgba(124, 129, 147, 1);
    @include mixins.p1;
  }

  h4 {
    @include mixins.h4;
  }
}

@media screen and (max-width: 1435px) {
  .section-three {
    padding: 150px 150px;
  }
}

@media screen and (max-width: 1350px) {
  .section-three {
    padding: 100px 5%;
  }
}

@media screen and (max-width: 1150px) {
  .events__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  .event__content {
    p {
      @include mixins.media-breakpoint-p;
    }

    h4 {
      @include mixins.media-breakpoint-h4;
    }
  }
}

@media screen and (max-width: 990px) {
  .section-three__header {
    width: 80%;

    h3 {
      font-size: 56px;
      width: 90%;
    }
  }

  .section-three__content {
    flex-direction: column;
    @include mixins.flex-center;
    width: 85%;

    aside {
      width: 100%;
    }
  }

  .events__image {
    height: 500px;
  }

  .event__container {
    &:last-of-type {
      grid-column: span 2;
    }
  }
}

@media screen and (max-width: 650px) {
  .section-three {
    padding: 80px 18px;
  }

  .section-three__header {
    gap: 12px;

    h3 {
      font-size: 40px;
      line-height: 100%;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -2%;
    }
  }

  .section-three__content {
    gap: 32px;
    width: 90%;
  }

  .events__image {
    height: 400px;
  }

  .events__wrapper {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  .event__container {
    padding: 20px 24px;
    gap: 16px;

    &:last-of-type {
      grid-column: span 2;
    }
  }

  .event__content {
    gap: 4px;

    p {
      @include mixins.media-breakpoint-p;
    }

    h4 {
      @include mixins.media-breakpoint-h4;
    }
  }
}

@media screen and (max-width: 550px) {
  .events__image {
    height: 310px;
  }

  .section-three__content {
    width: 100%;
  }
}
