@use "/src/styles/variables";
@use "/src/styles/mixins";

.our-sponsors {
  padding: 100px 140px;
  background: rgba(0, 7, 24, 1);
  @include mixins.flex-column;
  align-items: center;
  gap: 80px;
}

.our-sponsors__header {
  @include mixins.flex-column;
  align-items: center;
  text-align: center;
  gap: 24px;

  h3 {
    // @include mixins.geist;
    text-transform: uppercase;
    @include mixins.h3;
    color: variables.$white;
  }

  p {
    @include mixins.cambon;
    @include mixins.cambon-p;
    color: rgba(117, 216, 255, 1);
  }
}

.sponsor__div {
  @include mixins.flex-center;
  border: 1px solid rgba(60, 60, 60, 1);
  width: 280px;
  height: 180px;

  svg {
    // width: 100%;
    // height: 100%;
  }
}

.our-sponsors__content {
  @include mixins.flex-column;
  gap: 32px;
}

.our-sponsors__list {
  //   width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(17.5rem, 1fr));
  gap: 24px;
}

@media screen and (max-width: 1060px) {
  .our-sponsors__list {
    grid-template-columns: repeat(2, minmax(17.5rem, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .our-sponsors {
    padding: 80px 5%;
  }
}

@media screen and (max-width: 650px) {
  .our-sponsors {
    padding: 80px 20px;
  }

  .our-sponsors__list {
    grid-template-columns: repeat(1, minmax(17.5rem, 1fr));
  }

  .sponsor__div {
    width: 100%;
  }
}
