@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --header-1: 70px;
  --cambon-font: 22px;

  --line-height-1: 64px;
  --cambon-height: 24px;

  --letter-spacing-1: -2%;
  --cambon-spacing: 2%;
}

* {
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Cambon", sans-serif;
  src: url("./assets/fonts/Cambon-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@media screen and (max-width: 1050px) {
  :root {
    --header-1: 56px;

    --line-height-1: 56px;

    --letter-spacing-1: -2%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --header-1: 48px;

    --line-height-1: 48px;

    --letter-spacing-1: -2%;
  }
}
